* {
  color: #f6f6f6;
}

body {
  background-color: #212121;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

main {
  margin-top: 5rem;
}

a {
  color: #d9cab3;
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover {
  filter: brightness(0.7);
  color: #e9c46a;
  transform: scale(1.1);
}

h3 {
  margin-bottom: 2rem;
  font-size: 2.1rem;
}

p {
  font-size: 18px;
  text-align: justify;
  line-height: 2;
}

b {
  color: #e76f51;
}

nav {
  background-color: #264653;
}

footer {
  margin-top: 21vh;
  background-color: #264653 !important;
}

i {
  font-size: 40px;
  color: #ffffff;
}

#licenceFooter {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#linkFooter {
  color: #fff;
  text-decoration: underline;
}

#linkFooter:hover {
  color: #a58658;
  text-decoration: underline;
}

#footerLinkedIn,
#footerTwitter,
#footerInstagram,
#footerGitHub {
  margin: 5px;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 2rem;
  color: rgba(0, 0, 0, 0.712);
  transition: 0.3s ease-in;
}

.nav-link:hover {
  filter: brightness(0.8);
  color: #e76f51 !important;
  transform: scale(1.1);
}

::-webkit-scrollbar {
  background: #212121;
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: #e76f51;
}

@media (max-width: 600px) {
  #licenceFooter {
    flex-direction: column;
  }
}

/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    footer {
        position: fixed;
        bottom:0;
        left:0;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    footer {
        position: fixed;
        bottom:0;
        left:0;
    }
 } */
